{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Assign Task</h3>
  
              <form class="px-md-2" method="post">
                {% csrf_token %}
                <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="title">Title</label>
                    <input type="text" class="form-control" name="title" id="title">
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" name="description" id="description"></textarea>
                </div>
                <div class="row mb-4 pb-2 pb-md-0 mb-md-5">
                    <div class="col-md-6">
                        <label for="team">Choose Team</label>
                        <select class="form-select" name="team" id="select-team">
                            {% for team in teams %}
                            <option value="{{ team.id }}">{{ team.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="assigned_to_user">Assign To</label>
                        <select class="form-select" name="assigned_to_user" id="assigned_to_user">
                            {% for member in members %}
                                <option value="{{ member.id }}">{{ member.user.username }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div data-mdb-input-init class="form-outline datepicker">
                      <label for="due_date">Select due date</label>
                    <input type="date" class="form-control" name="due_date" id="due_date">
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <label for="priority">Priority</label>
                    <select class="form-select" name="priority" id="priority">
                        <option value="low">Low</option>
                        <option value="medium">Medium</option>
                        <option value="high">High</option>
                    </select>
                  </div>
                </div>

                <div class="mb-4">
                    <label for="status">Status</label>
                    <select class="form-select" name="status" id="status">
                        <option value="todo">To Do</option>
                        <option value="in_progress">In Progress</option>
                        <option value="complete">Complete</option>
                    </select>
                </div>
  
  
                <button type="submit" class="btn btn-success btn-lg mb-1">Assign</button>
  
              </form>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script>
    var selectTeam = document.getElementById("select-team");
    console.log("selectTeam", selectTeam);

    (async function() {
    if (selectTeam.value) {
        await getMembers(selectTeam.value);
    }
    })();

    // Adding Event Listener to team dropdown
    async function getMembers(id) {
        await appendMembers(id);
        selectTeam.addEventListener("input", async (ev) => {
        console.log("TEAM ID:", ev.target.value);
        let teamID = ev.target.value;
        await appendMembers(teamID);
    });
    }

    //fetching memebrs based on team
    async function appendMembers(id) {
        try {
            let teamID = id;
            const response = await fetch(`/team_members/${teamID}/`);
            // const result = await response.json();  // Assuming the server returns JSON
            const result = await response.json()
            console.log("result",result)
            let select = document.getElementById('assigned_to_user');
            console.log("select", select)
            select.innerHTML = '';  // Clear existing options
            result.forEach(member => {
                let option = document.createElement('option');
                option.value = member.id;
                option.textContent = member.username;
                select.appendChild(option);
            });
        } catch (error) {
            console.error("Fetch error:", error);
        }
    }

</script>

  {% endblock content %}