{% extends 'base.html' %}
{% block content %}
<section style="background-color: #eee;">
    <div class="container py-5">
  
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-todo-list/check1.webp"alt="Check" width="60">
              <h5 class="my-3">{{ team.name }}</h5>
              <div class="d-flex justify-content-center mb-2">
                <a href="{% url 'add_member_to_team' team_id=team.id %}" class="btn btn-primary">Add Member</a>
                {% if user == team.lead %}
                    <form method="post" action="{% url 'delete_team' team_id=team.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-primary ms-1">Delete</button>
                    </form>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="card mb-4 mb-lg-0">
            <div class="card-body p-0">
              <ul class="list-group list-group-flush rounded-3">
                {% for member in members %}
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fas fa-globe fa-lg text-warning"></i>
                  <p class="mb-0">{{ member.user.username }}</p>
                  <span class="badge bg-info rounded-pill">{{ member.role }}</span>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Team Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ team.name }}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Lead</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ team.lead.username }}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Description</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ team.description }}</p>
                </div>
              </div>
              <hr>
            </div>
          </div>
          
      </div>
    </div>
  </section>
  {% endblock %}